  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  p {
      font-size: 35px;
      color: black;
      font-family: 'Pacifico', cursive;
      padding: 13px;
	}
p:hover {
    color: white;
    font-family: 'Pacifico';
    font-size: 30px;
}
  h1{
      font-size: 30px;
      color:grey;
      font-family: 'Press Start 2P' ,cursive;
      border: 3px solid gold;
      padding:5px;
      text-align: center;

  }
  h1:hover {
  font-size: 55px;
  border: transparent;
  }

  a {

      font-size: 25px;
      font-family: 'Press Start 2P';
      color: #ffffff;
      margin:100px;
      display:inline-block;
      margin: 15px;
      text-decoration: none;
      border: 3px ridge  #ffffff;

      transition: 0.5s ease-in;

  }
  a:hover{
      border: transparent;
      background-color: black;
  }

  div{
      width: 60%;
      margin: auto;
      background-image: url(maxresdefault.jpg);
      background-position: center;
      
  }

  body{
      background-image: url(OvZ.gif);
      background-position:center;
      background-size: cover;

  }
  img{
     display: block;
     margin:auto;
     max-width: 600px;
    height: 40%;
    width: 300px;
    border: 3.5px solid #020faf
    

  }
